@page "/customers/create/"


<h3 class="card-title">Unos nove stranke</h3>
<hr />
<br />

<FormComponent ButtonText="Unos stranke" OnValidSubmit="@CreateCustomer" customer="customer" />


@code {
    

}