@page "/makes/create/"


<h3 class="card-title">Unos novog proizvođača</h3>
<hr />
<br />

<FormComponent ButtonText="Unos proizvođača" make="make"
               OnValidSubmit="@CreateMake" />

@code {
    

}